.main-info {
    display: flex;
    position: absolute;
    z-index: 1;
    color: var(--font-color);
    top: 26%;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-self: center;
    align-items: center;
} 